<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">

    <!-- <agm-circle
    [latitude]="flightPlanCoordinates[flightPlanCoordinates.length - 1].lat"
    [longitude]="flightPlanCoordinates[flightPlanCoordinates.length - 1].lng"
    [fillOpacity]="0.5" [radius]="100000" ></agm-circle> -->

    <ng-container *ngFor="let contestant of race?.contestants">
      <agm-marker
        [title]="contestant.name"
        [latitude]="contestant.locationHistory[contestant.locationHistory.length - 1].lat"
        [longitude]="contestant.locationHistory[contestant.locationHistory.length - 1].lng"
        [iconUrl]="getSymbolForContestant(contestant)">
      </agm-marker>

      <agm-polyline>
        <agm-polyline-point
          [latitude]="coordinates.lat"
          [longitude]="coordinates.lng"
          *ngFor="let coordinates of contestant.locationHistory">
        </agm-polyline-point>
      </agm-polyline>
    </ng-container>
</agm-map>
