.selected {
    background-color: #3f51b51f;
}

.mobile-expanded-panel {
    .contestants {
        width: 100% !important;
    }
}

.info-icon {
    font-size: 4rem;
    width: 4rem;
    height: 4rem;
}

.color-dot {
    font-size: 2.2rem;
}

.contestant-distance {
    min-width: 95px;
    max-width: 95px;
}