<div class="container-fluid h-100">
  <div class="d-flex h-100">
    <div class="flex-fill overflow-auto h-100">
      <mat-card class="min-h-100 p-0">
        <h3 class="font-weight-bold p-3 border-bottom">Races</h3>
        <mat-list>
          <ng-container *ngFor="let race of filteredRaces; let i = index">
            <mat-list-item [class.selected]="selectedRace._id === race._id" class="pointer d-flex"
              (click)="selectRace(race)">
              <div class="flex-grow-1 text-overflow d-flex align-items-center">
                <mat-icon *ngIf="race.legs?.length" (click)="toggleExpansion(race)">
                  {{ race.expanded ? 'expand_less' : 'expand_more' }}
                </mat-icon>
                {{ race.name }}
              </div>
              <app-race-status [race]="race"></app-race-status>
            </mat-list-item>

            <div class="submenu" [ngClass]="{'expanded' : race.expanded}" *ngIf="race.expanded">
              <ng-container *ngFor="let leg of getLegsOfRace(race)">
                <mat-list-item [class.selected]="selectedRace._id === leg._id" class="pointer d-flex"
                  (click)="selectRace(leg)">
                  <div class="flex-grow-1 text-overflow d-flex align-items-center" style="padding-left: 30px;">
                    {{ leg.name }}
                  </div>
                  <app-race-status [race]="leg"></app-race-status>
                </mat-list-item>
                <div class="d-md-none p-2 mobile-expanded-panel selected" *ngIf="selectedRace._id === leg._id">
                  <ng-container *ngTemplateOutlet="raceDetails"></ng-container>
                </div>
              </ng-container>
            </div>

            <div class="d-md-none p-2 mobile-expanded-panel selected" *ngIf="selectedRace._id === race._id">
              <ng-container *ngTemplateOutlet="raceDetails"></ng-container>
            </div>
            <mat-divider></mat-divider>
          </ng-container>
        </mat-list>
      </mat-card>
    </div>

    <div class="d-none d-md-block w-80">
      <ng-container *ngTemplateOutlet="raceDetails"></ng-container>
    </div>
  </div>
</div>

<ng-template #raceDetails>

  <div class="h-100 d-flex flex-column">
    <div class="px-2 pb-2">
      <mat-card class="w-100 d-flex flex-column flex-md-row justify-content-between align-items-center">
        <div class="d-flex">
          <div class="p-2" [class.border-right]="true">
            <span class="font-weight-bold">ID: </span>
            {{ selectedRace?._id }}
          </div>
          <div class="p-2" [class.border-right]="selectedRace?.startedAt">
            <span class="font-weight-bold">Created: </span>
            {{ getParsedDate(selectedRace?.createdAt) }}
          </div>
          <div class="p-2" *ngIf="selectedRace?.startedAt">
            <span class="font-weight-bold">Started: </span>
            {{ getParsedDate(selectedRace.startedAt) }}
          </div>
        </div>

        <div>
          <button mat-icon-button *ngIf="canRemove" (click)="deleteRace(selectedRace)" matTooltip="Delete race">
            <mat-icon class="pointer text-danger">
              remove_circle
            </mat-icon>
          </button>
          <button mat-icon-button *ngIf="canCreateLegs" (click)="createLeg(selectedRace)" matTooltip="Add leg">
            <mat-icon class="pointer text-primary">
              add_circle
            </mat-icon>
          </button>
          <button mat-icon-button *ngIf="canStop" (click)="selectedRace.legOf ? stopLeg(selectedRace) : stopRace(selectedRace)" matTooltip="Stop race">
            <mat-icon class="pointer text-danger">
              flag
            </mat-icon>
          </button>
          <button mat-icon-button *ngIf="canStart" (click)="startRace(selectedRace)" matTooltip="Start race">
            <mat-icon class="pointer text-primary">
              play_circle_filled
            </mat-icon>
          </button>
        </div>
      </mat-card>
    </div>

    <div class="flex-fill">
      <div class="d-flex flex-column flex-md-row h-100">
        <div class="flex-fill p-2">
          <mat-card style="min-height: 100%; height: 500px">
            <app-map [race]="selectedRace"
              *ngIf="selectedRace && show && selectedRace.contestants.length; else noContestants"></app-map>
            <ng-template #noContestants>
              <div class="d-flex justify-content-center align-items-center h-100">
                The map will become available once the contestants have joined.
              </div>
            </ng-template>
          </mat-card>
        </div>

        <div class="w-25 contestants overflow-auto h-100 p-2">
          <mat-card class="min-h-100 p-0">
            <h3 class="font-weight-bold p-3 border-bottom">Contestants</h3>
            <mat-list>
              <ng-container *ngFor="let contestant of getSortedContestants(); let i = index;">
                <mat-list-item class="d-flex">
                  <div class="flex-grow-1 text-overflow">
                    <span class="font-weight-bold">#{{i + 1}}</span>
                    {{ contestant.name }}
                  </div>
                  <div>
                    {{ contestant.distance }} km
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
              </ng-container>
              <div class="d-flex justify-content-center flex-column align-items-center"
                *ngIf="selectedRace?.contestants.length === 0">
                <mat-spinner></mat-spinner>
                <div class="font-italic mt-2">
                  Waiting for contestants to join...
                </div>
              </div>
            </mat-list>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</ng-template>
