<div class="container-fluid h-100">
    <div class="row h-100">
        <mat-card class="col-12 col-md-3 overflow-auto h-100 p-0">
            <mat-list>
                <ng-container *ngFor="let race of races; let i = index">
                    <mat-list-item>
                        Race {{ i + 1 }}
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </ng-container>
            </mat-list>
        </mat-card>
        <mat-card class="col-12 col-md-9">
            <div class="row">
                <mat-card class="col-12 col-md-9">
                    <app-map [race]="selectedRace"></app-map>
                </mat-card>
                <mat-card class="col-12 col-md-3">
                    <h3 class="font-weight-bold">Positions</h3>

                    <mat-list>
                        <ng-container *ngFor="let contestant of selectedRace?.contestants">
                            <mat-list-item>
                                {{ contestant.name }}
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </ng-container>
                    </mat-list>
                </mat-card>
            </div>
        </mat-card>
    </div>
</div>