/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #F7F7F7;
}

.mat-tab-body-wrapper {
    height: 100%;
}

.mat-dialog-actions {
    justify-content: flex-end;
}

.min-h-100 {
    min-height: 100%;
}

.pointer {
    cursor: pointer !important;
}

.mat-list-item-content {
    width: 100% !important;
}

.text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}